# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

worker_processes auto;
pid @DOLPHINSCHEDULER_NGINX_PID@;
error_log @DOLPHINSCHEDULER_NGINX_ERROR_LOG@ warn;

events {
    worker_connections 1024;
}

http {
    types {
        text/html html htm;
        text/css css;
        application/javascript js mjs;
        application/json json;
        image/svg+xml svg;
        image/png png;
        image/jpeg jpg jpeg;
        image/gif gif;
        image/x-icon ico;
        font/woff woff;
        font/woff2 woff2;
    }
    default_type  application/octet-stream;
    sendfile      on;
    keepalive_timeout 65;
    client_max_body_size 1024m;

    server {
        listen @DOLPHINSCHEDULER_NGINX_PORT@;
        server_name _;
        access_log @DOLPHINSCHEDULER_NGINX_ACCESS_LOG@;

        location = / {
            return 302 /dolphinscheduler/ui/;
        }

        location /dolphinscheduler/ui/ {
            alias @DOLPHINSCHEDULER_UI_ROOT@/;
            try_files $uri $uri/ /dolphinscheduler/ui/index.html;
        }

        location /public/ {
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Host $host;
            proxy_pass http://@DOLPHINSCHEDULER_PUBLIC_API@/dolphinscheduler/;
        }

        include @DOLPHINSCHEDULER_TENANT_CONF_DIR@/*.conf;
    }
}
